/* Layout */
header, footer {
  background: #003366;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  margin-top: 20px;
}

/* Snyggare text */
h1, h2 {
  font-family: Arial, sans-serif;
}
